/*********************** Work Post Template Section ***********************/

.work-link{
    text-decoration: none!important;
    color: inherit!important;
    font-style: italic;
    &:hover{
        color: #2a485cde!important;
        font-style: normal;
    }
}
  
.work-post-nav{
    margin: 2.5rem; 
    & a{
        display: flex;
        text-decoration: none!important;
    }

    & h6{
        color: var(--black-color);
        place-self: center;
        margin: 0; 
    }

    & ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    @media (max-width: 576px) { 
        margin: 0.2rem;
      }  
}